body{
    background:url(../img/fond.png) center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.inner-header{
    background: url(../img/logo.png) no-repeat;
    height:150px;
    
}

.masthead-brand{
    float: left;
}



.form-signin-heading, .checkbox label{
    color:#000000;
}

.inner.cover{
    background-color: #eeeeee;
    padding:0px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 0 50px 0 50px;

}

.inner.cover .form-signin{
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}